<section class="testimoniales" id="testimoniales">
            <div class="testimoniales__box">
                <h2 class="testimoniales__heading contenedor">Lo que <span class="testimoniales__heading--blue">dicen nuestros</span> clientes</h2>

                <p class="testimoniales__subtitle">Con la confianza y satisfacción de nuestros clientes </p>
            </div>
            

            <div class="testimoniales__grid contenedor">
                <!-- Testimonial 1 -->
                <div class="testimoniales__item">

                    <p class="testimoniales__item-author">
                        Juan Martínez <br> <span class="testimoniales__item-author-job">Cliente residencial</span> 
                    </p>

                    <p class="testimoniales__item-text">
                        "Desde que contraté Conexión Express, mi internet funciona perfecto. Antes batallaba mucho con la señal, pero ahora puedo trabajar y ver series sin interrupciones. La instalación fue rápida y el trato del personal muy amable."
                    </p>

                    <div class="testimoniales__item-line"></div>

                    <div class="testimoniales__item-icons">
                        <i class="bi bi-star-fill testimoniales__item-star"></i>
                        <i class="bi bi-star-fill testimoniales__item-star"></i>
                        <i class="bi bi-star-fill testimoniales__item-star"></i>
                        <i class="bi bi-star-fill testimoniales__item-star"></i>
                        <i class="bi bi-star-fill testimoniales__item-star"></i>
                    </div>
                </div>

                <!-- Testimonial 2 -->
                <div class="testimoniales__item">
                    <p class="testimoniales__item-author">
                        Laura Sánchez<br><span class="testimoniales__item-author-job">Propietaria de rancho</span> 
                    </p>

                    <p class="testimoniales__item-text">
                        “Necesitábamos conexión estable para monitorear cámaras en un rancho fuera de la ciudad. Conexión Express nos ofreció una solución por antena y ha sido excelente. El servicio técnico responde rápido y siempre encuentran cómo resolver.”
                    </p>

                    <div class="testimoniales__item-line"></div>

                    <div class="testimoniales__item-icons">
                        <i class="bi bi-star-fill testimoniales__item-star"></i>
                        <i class="bi bi-star-fill testimoniales__item-star"></i>
                        <i class="bi bi-star-fill testimoniales__item-star"></i>
                        <i class="bi bi-star-fill testimoniales__item-star"></i>
                        <i class="bi bi-star-fill testimoniales__item-star"></i>
                    </div>
                </div>

                <!-- Testimonial 3 -->
                <div class="testimoniales__item">
                    <p class="testimoniales__item-author">
                        Carlos Gómez<br> <span class="testimoniales__item-author-job">Cliente residencial</span> 
                    </p>

                    <p class="testimoniales__item-text">
                        “Contraté el paquete intermedio y la velocidad es constante todo el día. Además, me encanta que puedo pagar en línea y el soporte por WhatsApp siempre responde. Muy recomendable, sobre todo si no tienes acceso a fibra óptica.”
                    </p>

                    <div class="testimoniales__item-line"></div>

                    <div class="testimoniales__item-icons">
                        <i class="bi bi-star-fill testimoniales__item-star"></i>
                        <i class="bi bi-star-fill testimoniales__item-star"></i>
                        <i class="bi bi-star-fill testimoniales__item-star"></i>
                        <i class="bi bi-star-fill testimoniales__item-star"></i>
                        <i class="bi bi-star-fill testimoniales__item-star"></i>
                    </div>
                </div>
            </div>
        </section>