<footer class="footer" id="footer">
    <div class="footer__content contenedor">
        <div class="footer__column footer__column--info">


            <div class="footer__logo-container">
                <img src="./img/logo.png" alt="logo" class="footer__logo">
                

                <!-- <div class="footer__title-container">
                    <p class="footer__subtitle">Chihuahua, Chih. México</p>
                </div> -->
            </div>

            
            
            <p class="footer__text">
                Conectamos tu mundo sin cables con la mejor tecnología inalámbrica de México.
            </p>
        </div>

        <div class="footer__column footer__column--links">
            <h3 class="footer__heading">Enlaces Rápidos</h3>
            <ul class="footer__nav-list">
                <li class="footer__nav-item">
                    <a href="#inicio" class="footer__nav-link">Inicio</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#nosotros" class="footer__nav-link">Nosotros</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#servicios" class="footer__nav-link">Servicios</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#planes" class="footer__nav-link">Planes</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#contacto" class="footer__nav-link">Contacto</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Cumplimiento IFT</a>
                </li>
            </ul>
        </div>

        <div class="footer__column">
            <h3 class="footer__heading footer__heading--blue">Contacto</h3>
            <div class="footer__text-list">
                <div class="footer__text-item">
                    <i class="bi bi-telephone footer__text-icon"></i>
                    <p class="footer__text footer__text-phone">(614) 499 2749</p>
                </div>
                <div class="footer__text-item">
                    <i class="bi bi-envelope footer__text-icon"></i>
                    <p class="footer__text">mercaditowifi@infinitummail.com</p>
                </div>
                <div class="footer__text-item">
                    <i class="bi bi-geo-alt footer__text-icon"></i>
                    <p class="footer__text">Chihuahua, Chih. Méxic</p>  
                </div>
            </div>

            <div class="footer__social-container">
                <p class="footer__heading ">Siguenos en Redes Sociales</p>
                <div class="footer__social-links">
                    <a href="#" class="footer__social-link">
                        <i class="bi bi-facebook footer__social-icon"></i>
                    </a>
                    <a href="#" class="footer__social-link">
                        <i class="bi bi-instagram footer__social-icon"></i>
                    </a>
                </div>
            </div>
        </div>


    </div>

    <div class="footer__line"></div>

    <div class="footer__copyright" data-section="footer" data-value="text" >
        ConexionExpress ©<span id="year"></span> - Todos los derechos reservados  
    </div>
</footer>

