@use 'variables' as v;
@use 'sass:color';

@mixin phone {
    @media screen and (width <= v.$phone){
        @content;
    }
}

@mixin tablet {
    @media screen and (v.$phone < width <= v.$tablet){
        @content;
    }
}

@mixin desktop {
    @media screen and ( width > v.$tablet){
        @content;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}


@mixin boton-solid($bgColor, $textColor) {
  background-color: $bgColor;
  color: $textColor;
  padding: 1rem 2.4rem;
  border-radius: 3rem;
  font-weight: 600;
  font-size: 1.6rem;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  border: none;
  text-decoration: none;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  transition: all 0.25s ease;

  i {
    font-size: 1.6rem;
    transition: transform 0.2s ease;
  }

  &:hover {
    background-color: color.adjust($bgColor, $lightness: -3%);
    transform: translateY(-2px);
    i {
      transform: translateX(3px);
    }
  }

  &:active {
    transform: scale(0.96);
  }
}



@mixin boton-outline($borderColor, $textColor) {
  background-color: transparent;
  color: $textColor;
  padding: 1rem 2.4rem;
  border-radius: 3rem;
  font-weight: 600;
  font-size: 1.6rem;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  border: 2px solid $borderColor;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  transition: all 0.25s ease;

  i {
    font-size: 1.6rem;
    transition: transform 0.2s ease;
  }

  &:hover {
    background-color: rgba($borderColor, 0.15);
    transform: translateY(-2px);
    i {
      transform: translateX(3px);
    }
  }

  &:active {
    transform: scale(0.96);
  }
}