@use 'base/variables' as v;
@use 'base/mixins' as m;
 
.footer {
  background: v.$primary-4;
  color: v.$gray-2;
  padding: 2.4rem 0;
  text-align: center;

  /* Contenedor centrado y contenido fluido */
  &__content {
    width: min(92vw, 1200px);
    margin-inline: auto;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas: info más ancha */
    gap: clamp(1rem, 3vw, 3rem);
    align-items: start;

    @include m.phone  { 
        grid-template-columns: 1fr; }
  }

  &__column {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @include m.phone { 
        text-align: center; 
        align-items: center; 
      }
  }

  /* Títulos */
  &__heading {
    color: v.$white;
    font-weight: 600;
    font-size: 1.7rem;
    margin: 0 0 .5rem;
    text-align: center;
  }

  /* Logo + ubicación */
  &__logo-row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__logo {
    display: block;
    width: 20rem;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  &__subtitle,
  &__text {
    color: v.$gray-2;
    margin: 0;
    overflow-wrap: anywhere; /* evita desbordes en emails/URLs */

    text-align: center;
  }

  &__text-phone {
    color: v.$gray-2;
  }

  &__subtitle { 
    margin: 0 auto; 
  }

  &__text-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__text-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: v.$gray-2;
  }

  &__text-icon {
    color: v.$primary-1;
  }

  /* Lista de enlaces */
  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: .6rem;
  }

  /* &__nav-item { 
    text-align: center; 
    transition: all .3s ease;
    cursor: pointer;
    text-decoration: none;
    color: v.$gray-2;

    &:hover {
      color: v.$primary-1;
      transform: scale(1.1);
      text-decoration: none;
    } 
  } */

  &__nav-link {
    color: v.$gray-2;;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.4;
  }
  &__nav-link:hover { 
    text-decoration: underline; 
  }

  /* Redes sociales */
  &__social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__social-links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__social-link {
    color: v.$gray-2;
    text-decoration: none;
    font-size: 2.5rem;
    line-height: 1.4;
    transition: all .3s ease;
    cursor: pointer;
  }

  &__social-link:hover { 
    color: v.$primary-1;
    transform: scale(1.1);
  }

  /* Línea y copyright alineados al mismo ancho del contenedor */
  &__line,
  &__copyright {
    width: min(92vw, 1200px);
    margin-inline: auto;
  }
  &__line {
    height: 1px;
    background: v.$gray-4;
    opacity: .5;
    margin-top: .8rem;
  }
  &__copyright {
    padding: 1rem 0 0;
    font-size: 1.4rem;
    text-align: center;
  }
}
