@use 'base/mixins' as m;
@use 'base/variables' as v;

.header {
    box-shadow: v.$box-shadow;
    
    /*! POSITION STICKY */
    /* position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: v.$white-transparent; */

    @include m.phone {
        box-shadow: none;
    }

    /* PRIMER CONTACTO */
    &__info {
        background-color: v.$gray-2;
        display: flex;
        justify-content: space-between;
        color: v.$white;
        max-width: 100vw;
        padding: 1.5rem 3rem;
        align-items: center;
        
        @include m.phone {
            flex-direction: column;
        }

        &-right {
            display: flex;

            @include m.phone {
                flex-direction: column;
                align-items: center;
                gap: 1rem;
            }
        }
    }

    &__info-location,
    &__info-phone {
        display: flex;
        gap: 1rem;
        align-items: center;

        & i {
            color: v.$primary-2;
        }

        @include m.phone {
            gap: .5rem;
            font-size: 1.5rem;
        }
    }

    &__info-phone-text {
        text-decoration: none;
        color: v.$white;

        span {
            font-weight: 700;
            color: v.$primary-2; 
        }
    }

    &__info-phone-number {
        color: v.$primary-2;
    }

    &__link {
        color: v.$primary-2;
        font-weight: 500;
        text-decoration: none;
    }

}

